<div id="wrapper">

    <div class="row">
        <div class="col-lg-3">
            <app-config-side-bar></app-config-side-bar>

        </div>
        <div class="col-lg-9">
            <div id="content-wrapper" class=" margin">

                <div id="content">

                    <div class="container-fluid align-items-center">

                        <h1 class="h3 mb-0 text-gray-800">User Management</h1>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col"><a class="btn btn-sm btn-primary mt-1 mb-2" data-toggle="modal" data-target="#exampleModal">Add
                        User</a>

                            <div class="col">
                                <button class="btn btn-sm  btn-primary">
                            </button>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                                    <a href="#">
                                        <i class="fa fa-refresh">listUsers</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">UserList</h6>
                                </div>
                                <div class="row mt-5 ml-2 align-items-center">
                                    <div class="col-lg-4" *ngFor="let user of users ; let i=index">
                                        <div class="card ml-5 mb-3" style="max-width: 18rem;margin-left: 20px;">
                                            <div class="card-header">
                                                <div class="card-title">

                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button type="submit" (click)="deleteUser(user)" class="btn btn-sm justify-content-md-end btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                      </button>
                                                    </div>

                                                </div>


                                            </div>

                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label for="formGroupExampleInput" class="form-label">Name:</label>
                                                    <input type="text" value="{{user.nom}}" class="form-control">

                                                </div>
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput" class="form-label">prenom:</label>
                                                    <input type="text" value="{{user.prenom}}" class="form-control">

                                                </div>
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput" class="form-label">nombre_enfants:</label>
                                                    <input type="number" value="{{user.nombre_enfants}}" class="form-control">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>


                        </div>
                        <!-- 
                        <div class="col">
                            <ng-container *ngFor="let list of users">
                                <div>{{ list.nom }}</div>
                            </ng-container>
                        </div> -->
                    </div>
                </div>

                <!-- Pie Chart -->

            </div>





        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="userForm" enctype="multipart/form-data" (ngSubmit)="add()">

                <div class="modal-body">


                    <div class="form-group">
                        <label for="formGroupExampleInput" class="form-label">Name:</label>
                        <input type="text" formControlName="nom" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="form-label">prenom:</label>
                        <input type="text" formControlName="prenom" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="form-label">nombre_enfants:</label>
                        <input type="number" formControlName="nombre_enfants" class="form-control">

                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" id="closeModal">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>